*{
    text-decoration: underline;
}
img, iframe{
    width: 50%;
    height: 500px;
}
.A{
    color: blue;
   }
 
   #B{
    color: red;
   }
 
 .C{
    color: green;
 }
 
 /* FOR H1 DECARATION */
 
 
